# LaTeX intermediate files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.xdv

# Temporary/editor files
*.swp
*.swo
.DS_Store

# Optional: ignore generated PDF
# main.pdf
